#navbar-logo {
  color: white;
}

.items-navbar {
  color: white;
}

nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(231, 236, 19, 1) 65%
  );
}
