<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Poner % titulo %> aca   -->
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/articulo.css" />
  </head>
  <body>
    <%- include("navbar")-%>

    <div class="container">
      <div class="header-articulo text-center">
        <h1 id="titulo-articulo">Titulo del articulo</h1>
        <h4 id="autor-articulo" class="mt-4">
          Creado por Joaquin Etchegaray el 8 de abril de 2021
        </h4>
      </div>

      <div class="row">
        <div class="col-7 col-md-0" id="contenido-articulo">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            eligendi fuga quod! Quod minima odio sequi laborum eveniet quidem?
            Commodi, iure! Impedit commodi pariatur laborum dignissimos ipsum
            vel voluptatem assumenda! Pariatur repudiandae corporis
            necessitatibus sequi sunt excepturi odio eligendi ullam? Iure
            pariatur excepturi maiores iste tempora ipsum illo aut incidunt
            possimus veniam accusantium non laudantium iusto doloribus, quidem
            libero voluptates. Magnam enim doloribus adipisci sint ipsa quo
            reiciendis veniam, cupiditate vero facilis voluptates dolorem quia
            est explicabo nemo quos porro molestiae cumque odio. Dignissimos
            maxime quos accusantium quidem fugit enim! Minima quis, illum veniam
            harum porro necessitatibus consequatur odit beatae, vitae repellat,
            vel alias pariatur doloribus iusto sunt dicta omnis illo ullam
            perferendis similique! Voluptate cumque maxime quod! Tempore,
            dolores? Mollitia animi nihil quae, laudantium iste distinctio quis.
            Optio, provident soluta voluptatum veniam nulla sit dicta dolores
            corrupti facilis suscipit, alias assumenda non iusto sapiente.
            Temporibus quaerat et magnam quam! Eius quas totam deserunt, eveniet
            magni dolores iure alias ducimus accusantium incidunt cumque et
            beatae, aliquid in placeat quidem fuga fugiat facere doloribus
            aspernatur nulla dolor assumenda doloremque. Illo, iure! Quis
            cupiditate aspernatur esse. Molestiae ad magni error tempore dolore,
            dolorum eaque ipsum nobis iusto nam, ea aspernatur eos consequuntur
            tempora assumenda consequatur dolores autem illum delectus.
            Quisquam, explicabo aliquid. Dignissimos minus nihil cupiditate
            culpa nam, illum aliquam consequuntur suscipit sed? Adipisci facere
            tenetur quasi natus, tempora dolorem ad voluptatum recusandae? Esse
            dicta quibusdam, laborum aperiam architecto nemo laboriosam
            laudantium. Dicta aperiam tenetur alias. Nobis laudantium quidem
            nihil optio? Aut quidem minima, neque impedit voluptatum inventore,
            voluptas aliquam nulla odit earum dolore vel sequi maiores
            asperiores rem tenetur hic accusamus. Sunt incidunt magnam, nam
            voluptatum possimus nostrum, tenetur enim aliquid error nisi
            veritatis dicta soluta consequuntur consectetur at quis nobis.
            Excepturi ad explicabo temporibus. Vitae assumenda vero possimus quo
            nisi? Incidunt nemo voluptate provident minus itaque laboriosam,
            labore illo? Temporibus, enim mollitia suscipit beatae quibusdam,
            explicabo amet ex facilis, eaque recusandae ea laborum culpa aliquam
            nam! Ullam voluptatem officia non? Explicabo debitis, dolorum
            recusandae quas ratione quod ipsam voluptatibus corporis quisquam
            impedit facere, delectus officiis nemo consequuntur pariatur
            asperiores minima voluptas nihil rerum eveniet magnam dolor, veniam
            quidem assumenda? Tempora! Culpa sapiente autem id soluta ex?
            Nostrum natus cum quibusdam vel similique perspiciatis tempore
            inventore deserunt, quaerat voluptatibus quas a ex veniam vitae,
            dolorum necessitatibus maiores quod numquam porro debitis. Esse,
            aspernatur! Voluptates repudiandae quasi, inventore sint consequatur
            vero illum numquam accusamus, natus a animi porro. Laudantium quo
            ratione inventore sunt, rem dignissimos officiis adipisci placeat
            quam mollitia a itaque. Iste, suscipit tempora. Doloremque fugit ab
            eos cupiditate facilis saepe laboriosam, autem dolorum nesciunt
            quaerat exercitationem voluptate. In, consequatur ipsum! Nihil
            beatae odit quis. Sint eius recusandae molestias ipsum autem. Quis
            nulla soluta ab eaque assumenda exercitationem quasi iure id ad eos
            accusantium nihil fugiat numquam, debitis ipsa suscipit molestias
            recusandae, tenetur perspiciatis. Quam, voluptatibus! Quasi non
            neque pariatur nesciunt? Rerum repellat impedit doloremque quidem
            officia, laborum quam, voluptatibus dolor labore asperiores adipisci
            dolore fugiat, harum alias beatae quae est. Suscipit accusantium
            necessitatibus eum ea ipsam quam in harum numquam! Qui quos
            repudiandae corrupti. Hic et a quaerat nihil iste in earum, eligendi
            aliquid amet reprehenderit nam quia voluptatum autem quam laborum,
            molestiae ratione. Minima officiis porro temporibus similique unde.
            Nihil cupiditate quaerat, suscipit at tempora dolorum odio facere
            magni vel veritatis consequatur explicabo quam ea ratione officia
            reiciendis blanditiis iusto quae non beatae officiis voluptate eius,
            eveniet aliquam! Odit? Autem, iure mollitia? Commodi consequuntur
            eaque nisi iste neque nostrum veritatis dolore eveniet, error enim
            doloribus laudantium quas perspiciatis amet accusamus maxime aut
            ipsam vel quibusdam laboriosam repellendus voluptatem nobis.
          </p>
        </div>
        <div class="col-5"></div>
      </div>
      <div class="comentarios"></div>
    </div>
  </body>
</html>
