<footer>
  <div class="container">
    <div id="footer-info" class="row d-flex justify-content-evenly">
      <div class="col-4 mx-1" id="icon"><i class="fab fa-facebook"></i></div>
      <div class="col-4 mx-1" id="icon"><i class="fab fa-instagram"></i></div>
      <div class="col-4 mx-1" id="icon"><i class="fab fa-twitter"></i></div>
    </div>

    <div id="footer-copyright" class="d-flex justify-content-center">
      © ALL COPYRIGHTS RESERVED FOR MEMESDELCAP INC. 1891-2021
    </div>
  </div>
</footer>
