<footer class="fixed-footer">
  <div class="container">
    <div id="footer-copyright" class="d-flex justify-content-center">
      <p>© ALL COPYRIGHTS RESERVED FOR MEMESDELCAP INC. 1891- ∞</p>
    </div>
  </div>
</footer>
