<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gracias!</title>
    <link rel="stylesheet" href="/css/gracias.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/img/gordo-colombes-logo" />
  </head>
  <body>
    <%- include("navbar")-%>
    <div class="container text-center" id="texto">
      <h1 class="mb-5">
        Tu articulo ha sido creado, gracias por colaborar con Memes del CAP!
      </h1>

      <a href="home" id="link-home"
        >Clickea aca para ver tu articulo en la pagina principal!</a
      >
      <div id="foto">
        <img src="/img/peniarol.jpg" alt="" />
      </div>
    </div>
     <%- include("footer")-%>
  </body>
</html>
