
<nav class="navbar fixed-top bg-dark p-3">
  <div class="d-flex justify-content-start">
    <a class="navbar-brand" href="#" id="navbar-logo"
      >El blog de Memes del CAP</a
    >
  </div>
  <div class="d-flex justify-content-end">
    <a class="navbar-brand items-navbar" href="">Contacto</a>
    <a class="navbar-brand items-navbar" href="">Sobre el blog</a>
    <a class="navbar-brand items-navbar" href="">Admin</a>
  </div>
</nav>
