#titulo-articulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 200px;
}
#autor-articulo {
  font-family: monospace;
}

#contenido-articulo {
  margin-top: 400px;
}
