body {
    background-color: rgb(246, 246, 115) !important;
}

#texto{
    margin-top: 200px;
}

#link-home {
    color: black !important;
    text-decoration: none !important;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



img {
    display: block;
    border-radius: 50%;

}

#foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}