#titulo-home {
  margin-top: 40px;
  text-align: center;
}
#titulo-home:hover {
  margin-top: 35px;
  transition: 0.2s;
  font-size: 2.7rem;
}

#linea-titulo-home {
  background-color: black;
  width: 10rem;
  height: 0.2rem;
  margin: auto;
  margin-top: 20px;
}

#titulo {
  text-align: center;
  margin-bottom: 200px;
}

body {
  background-image: url(maxresdefault.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#titulo-articulo {
  font-family: fantasy;
}

#contenido-articulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#author-info {
  font-family: monospace;
}

.container {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
