#titulo-home {
  margin-top: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo-home:hover {
  margin-top: 155px;
  transition: 0.2s;
  font-size: 2.7rem;
}

#linea-titulo-home {
  background-color: white;
  width: 10rem;
  height: 0.2rem;
  margin: auto;
  margin-top: 20px;
}

#titulo {
  text-align: center;
  margin-bottom: 200px;
}

body {
  background-image: url(maxresdefault.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#titulo-articulo {
  font-family: fantasy;
}

#contenido-articulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
  text-overflow: clip;
}

#author-info {
  font-family: monospace;
  font-size: 20px;
}

.container {
  animation: transitionIn 0.9s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
#photo-header {
  background-image: url(/img/fonto.jpg);
  object-fit: contain;
  padding: 50px;
  color: white;
}

#img-articulo {
  object-fit: cover;
}
