#title-login {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 600px;
}
#login-card {
  width: 800px;
}

#item-form {
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2.5px;
} 

#email , #password {
  padding: 10px;
  font-size: 20px;
}