nav {
  
  background-color: black;
  width: 100%;
  
}

#navbar-logo {
  color: white;
}
#navbar-logo:hover {
  color: white;
  border-bottom: none;
}

.items-navbar {
  color: white;
}

a:hover {
  color: yellow;
  border-bottom: solid 1px yellow;
}
