nav {
  position: static;
  background-color: black;
}

#navbar-logo {
  color: white;
}
#navbar-logo:hover {
  color: white;
  border-bottom: none;
}

.items-navbar {
  color: white;
}

a:hover {
  color: yellow;
  border-bottom: solid 1px yellow;
}
